<div class="container-fluid w-100 row">
  <div class="container col-2">
    <div class="col-12">
      <img
        src="../views/public/img/download (1).jpg"
        class="rounded-circle"
        alt="category image"
      />
    </div>

    <div class="col-12">
      <p>category name</p>
    </div>
  </div>
  <div class="container col-2">
    <div class="col-12">
      <img
        src="../views/public/img/download (1).jpg"
        class="rounded-circle"
        alt="category image"
      />
    </div>
    <div class="col-12">
      <p>category name</p>
    </div>
  </div>
  <div class="container col-2">
    <div class="col-12">
      <img
        src="../views/public/img/download (1).jpg"
        class="rounded-circle"
        alt="category image"
      />
    </div>
    <div class="col-12">
      <p>category name</p>
    </div>
  </div>
  <div class="container col-2">
    <div class="col-12">
      <img
        src="../views/public/img/download (1).jpg"
        class="rounded-circle"
        alt="category image"
      />
    </div>
    <div class="col-12">
      <p>category name</p>
    </div>
  </div>
</div>

<div class="container-fluid">
  <h1>Top Ratig Products</h1>
</div>

<div class="container-fluid w-100">
  <div class="container row gap-3 d-flex justify-content-center align-items-center">
    <div class="card col-xxl-3 col-sm-12 col-md-6" style="width: 18rem;">
      <img src="..." class="card-img-top" alt="..." />
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title
          and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>

        <div class="card col-xxl-4 col-sm-1 col-md-2" style="width: 18rem;">
      <img src="..." class="card-img-top" alt="..." />
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title
          and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>

        <div class="card col-xxl-4 col-sm-1 col-md-2" style="width: 18rem;">
      <img src="..." class="card-img-top" alt="..." />
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title
          and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>

        <div class="card col-xxl-4 col-sm-1 col-md-2" style="width: 18rem;">
      <img src="..." class="card-img-top" alt="..." />
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title
          and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
</div>